body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--text-accent);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

.form {
  margin: 120px auto;
  max-width: 550px;
  background-color: white;
  padding: 32px;
  color: var(--text-main);
  border-radius: 18px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.form__title {
  text-align: center;
  margin-bottom: 32px;
}

.form__fieldset {
  margin: 16px 0;
  padding: 8px;
  border: none;
}

.form__label {
  display: block;
  font-size: 1.4rem;
  transition: color 0.1s ease-out;
}

.form__label + .form__label {
  margin-top: 16px;
}

.label__row {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.form__label__required {
  color: firebrick;
}

.form__label:focus-within {
  color: var(--text-accent);
}

.form__input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid #999;
  color: var(--text-main);
}

.form__input:focus {
  outline-color: var(--text-accent);
}

.form__input:invalid {
  border-color: firebrick;
}

.form__label__warning {
  translate: 10px;
  opacity: 0;
  visibility: hidden;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s ease-out;
}

.form__label:has(.form__input:invalid) .form__label__warning {
  translate: 0;
  opacity: 1;
  visibility: visible;
  transition: translate 0.1s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.form__button {
  display: block;
  font: inherit;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.form__submit-button {
  margin-top: 24px;
  background-color: var(--text-accent);
  color: white;
  border-radius: 100vmax;
  padding: 16px 32px;
  transition: filter 0.2s ease-out;
}

.form__submit-button:hover {
  filter: brightness(1.2);
}

.form__reset-button {
  text-decoration: underline;
  margin-top: 8px;
  background: none;
  color: var(--text-accent);
}

.form__description-title {
  font-weight: bold;
}

.form__description-title::first-letter {
  color: firebrick;
}

.form__description-details {
  margin-inline-start: 40px;
}

.form__description-details::before {
  content: "\1F6C8";
}

.form2__fieldset {
  border: 1px solid var(--text-main);
}

.form__checkbox-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.form__checkbox-label {
  display: flex;
  gap: 4px;
}

.form__checkbox:checked + span {
  text-decoration: line-through;
  color: var(--text-secondary);
}

.pseudoclasses li:nth-child(2n) span {
  color: var(--text-accent);
}

.pseudoclasses li:nth-child(2n) .form__checkbox:checked {
  accent-color: var(--text-accent);
}

.pseudoelements li:nth-child(2n + 1) span {
  color: var(--text-accent);
}

.pseudoelements li:nth-child(2n + 1) .form__checkbox:checked {
  accent-color: var(--text-accent);
}

.footer {
  background: var(--text-main);
}

.footer__subtitle,
.footer__logo {
  margin-top: 32px;
}

.footer__logo {
  transform: rotate(30deg) scale(1.5) skew(30deg);
}

@media screen and (min-width: 764px) {
  .form__label {
    font-size: 1.6rem;
  }
}
